.mainPage {
	background: url('../Images/home-transparent-white.png');
	background-size: 40px;
	background-color: black;
	background-position: center;
	display: flex;
	background-repeat: no-repeat;
}

/* For the Git-Hub link */
.git {
	background: url('../Images/GitHub Logo.png');
	background-size: 80px;
	background-color: black;
	background-position: center;
	display: flex;
	background-repeat: no-repeat;
}
/* For the LinkedIn Link */
.linkedIn {
	background: url('../Images/LinkedIn Icon.png');
	background-size: 70px;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
}

/* For My Contact Info */
.contact {
	background: url('../Images/Contact Image.png');
	background-size: 40px;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
}
/* For my name on the Nav Bar */
.name {
	color: rgb(255, 255, 255);
	background: url('../Images/ef536660637745.5a54876d6bbe1.gif');
	background-size: 100px;
	background-color: null;
	background-position: center;
	background-repeat: no-repeat;
}

.Projects {
	background: url('../Images/gears.png');
	background-size: 40px;
	background-color: black;
	background-position: center;
	display: flex;
	background-repeat: no-repeat;
}

.resume {
	background: url('../Images/resume icon.png');
	background-size: 20px;
	background-color: black;
	background-position: center;
	display: flex;
	background-repeat: no-repeat;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}

li {
	float: left;
}

li a {
	display: block;
	color: rgb(253, 253, 253);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

li a:hover:not(.active) {
	background-color: #111;
}
